﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Adm_RelUsuariosPrograma.aspx.cs" Inherits="WebAmericaRegionalMyE.Adm_RelUsuariosPrograma" %>
<%@ Register assembly="DevExpress.Web.v15.2, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.Web" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <form id="form1" runat="server">
        <dx:ASPxGridView ID="ASPxGridView1" runat="server" AutoGenerateColumns="False" DataSourceID="SqlDataSource1" KeyFieldName="ruspr_id">
            <SettingsPager PageSize="50">
            </SettingsPager>
            <Settings ShowFilterRow="True" ShowGroupPanel="True" />
            <SettingsSearchPanel Visible="True" />
            <Columns>
                <dx:GridViewCommandColumn ShowDeleteButton="True" ShowEditButton="True" ShowNewButtonInHeader="True" VisibleIndex="0" ShowClearFilterButton="True">
                </dx:GridViewCommandColumn>
                <dx:GridViewDataTextColumn FieldName="ruspr_id" ReadOnly="True" VisibleIndex="1">
                    <EditFormSettings Visible="False" />
                </dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn FieldName="usuario" VisibleIndex="3">
                </dx:GridViewDataTextColumn>
                <dx:GridViewDataTextColumn FieldName="pro_programa" VisibleIndex="5">
                </dx:GridViewDataTextColumn>
                <dx:GridViewDataComboBoxColumn FieldName="id_usuario" VisibleIndex="2">
                    <PropertiesComboBox DataSourceID="SqlDataSource2" TextField="usuario" ValueField="id_usuario">
                    </PropertiesComboBox>
                </dx:GridViewDataComboBoxColumn>
                <dx:GridViewDataComboBoxColumn FieldName="pro_id" VisibleIndex="4">
                    <PropertiesComboBox DataSourceID="SqlDataSource3" TextField="pro_programa" ValueField="pro_id">
                    </PropertiesComboBox>
                </dx:GridViewDataComboBoxColumn>
            </Columns>
        </dx:ASPxGridView>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:constr %>" DeleteCommand="DELETE FROM pla_rel_usu_pro WHERE (ruspr_id = @ruspr_id)" InsertCommand="INSERT INTO pla_rel_usu_pro(id_usuario, pro_id) VALUES (@id_usuario, @pro_id)" SelectCommand="SELECT pla_rel_usu_pro.ruspr_id, pla_rel_usu_pro.id_usuario, usuarios.usuario, pla_rel_usu_pro.pro_id, pla_programas.pro_programa FROM pla_rel_usu_pro INNER JOIN usuarios ON pla_rel_usu_pro.id_usuario = usuarios.id_usuario INNER JOIN pla_programas ON pla_rel_usu_pro.pro_id = pla_programas.pro_id" UpdateCommand="UPDATE pla_rel_usu_pro SET id_usuario = @id_usuario, pro_id = @pro_id WHERE (ruspr_id = @ruspr_id)">
            <DeleteParameters>
                <asp:Parameter Name="ruspr_id" />
            </DeleteParameters>
            <InsertParameters>
                <asp:Parameter Name="id_usuario" />
                <asp:Parameter Name="pro_id" />
            </InsertParameters>
            <UpdateParameters>
                <asp:Parameter Name="id_usuario" />
                <asp:Parameter Name="pro_id" />
                <asp:Parameter Name="ruspr_id" />
            </UpdateParameters>
        </asp:SqlDataSource>
        <asp:SqlDataSource ID="SqlDataSource2" runat="server" ConnectionString="<%$ ConnectionStrings:constr %>" SelectCommand="SELECT [id_usuario], [usuario] FROM [usuarios]"></asp:SqlDataSource>
        <asp:SqlDataSource ID="SqlDataSource3" runat="server" ConnectionString="<%$ ConnectionStrings:constr %>" SelectCommand="SELECT [pro_id], [pro_programa] FROM [pla_programas]"></asp:SqlDataSource>
    </form>
</asp:Content>
