﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Bolivia.aspx.cs" Inherits="WebAmericaRegionalMyE.Bolivia" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        BOLIVIA - OFFICE COOUNTRY</p>
</asp:Content>
