﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="cvs_reportes.aspx.cs" Inherits="WebAmericaRegionalMyE.cvs_reportes" %>

<%@ Register Assembly="DevExpress.Web.v15.2, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
                    <form id="form1" runat="server">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 188px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td>I</td>
                            </tr>
                            <tr>
                                <td style="width: 188px">
                                    <asp:Button ID="Button1" runat="server" Text="Button" />
                                </td>
                                <td style="width: 172px">
                                    <asp:Label ID="Label1" runat="server" Text="SELECIONE PAIS:"></asp:Label>
                                </td>
                                <td style="width: 172px">
                                    <asp:DropDownList ID="DropDownList1" runat="server">
                                        <asp:ListItem Value="112">BOLIVIA</asp:ListItem>
                                        <asp:ListItem Value="153">ECUADOR</asp:ListItem>
                                        <asp:ListItem Value="151">HONDURAS</asp:ListItem>
                                        <asp:ListItem Value="122">GUATEMALA</asp:ListItem>
                                    </asp:DropDownList>
                                </td>
                                <td>
                                <dx:ASPxButton ID="ASPxButton2" runat="server" OnClick="ASPxButton2_Click" Text="Lista de Niños CVS" Theme="SoftOrange"></dx:ASPxButton>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 188px">&nbsp;</td>
                                <td style="width: 172px">
                                    <asp:Label ID="Label2" runat="server" Text="Seleccione Socio:"></asp:Label>
                                </td>
                                <td style="width: 172px">
                                    <asp:DropDownList ID="DropDownList2" runat="server">
                                        <asp:ListItem Value="112">1134040-Obispo Anaya</asp:ListItem>
                                        <asp:ListItem Value="153">ECUADOR</asp:ListItem>
                                        <asp:ListItem Value="151">HONDURAS</asp:ListItem>
                                        <asp:ListItem Value="122">GUATEMALA</asp:ListItem>
                                    </asp:DropDownList>
                                </td>
                                <td>
                    <dx:ASPxButton ID="ASPxButton1" runat="server" OnClick="ASPxButton1_Click" Text="Resultados CVS - Espanol" Theme="SoftOrange"></dx:ASPxButton>
                    <dx:ASPxButton ID="ASPxButton7" runat="server" Text="Resultados CVS English" Theme="SoftOrange" OnClick="ASPxButton7_Click"></dx:ASPxButton>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 188px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td>
                    <dx:ASPxButton ID="ASPxButton5" runat="server"  Text="Resultados CPR - English" Theme="SoftOrange" OnClick="ASPxButton5_Click1"></dx:ASPxButton>
                    <dx:ASPxButton ID="ASPxButton3" runat="server"  Text="Resultados CPR - Espanol" Theme="SoftOrange" OnClick="ASPxButton3_Click1"></dx:ASPxButton>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 188px"></td>
                                <td style="width: 172px"></td>
                                <td style="width: 172px"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="width: 188px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td>
                    <dx:ASPxButton ID="ASPxButton6" runat="server"  Text="Detalle Participación" Theme="SoftOrange" OnClick="ASPxButton6_Click"></dx:ASPxButton>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 188px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td style="width: 172px">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    
                    </form>
</asp:Content>
