﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Das_Disenador.aspx.cs" Inherits="WebAmericaRegionalMyE.Das_Disenador" %>
<%@ Register assembly="DevExpress.Dashboard.v15.2.Web, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.DashboardWeb.Designer" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <form id="form1" runat="server">
    <dx:ASPxDashboardDesigner ID="ASPxDashboardDesigner1" runat="server" DisableHttpHandlerValidation="False">
    </dx:ASPxDashboardDesigner>
</form>
</asp:Content>
