﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="GDO_dash001.aspx.cs" Inherits="WebAmericaRegionalMyE.GDO_dash001" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNmMyM2VhNmMtMzJjMS00ZDM4LThkNDktZmJkMWJmODg0N2YwIiwidCI6IjViMWU1ZDc0LTMxZGEtNGYwZi1iYjlhLWRiYjRhZTRjY2ViYyIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
</asp:Content>
