﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Pat_CRP_Individual_LS3_GU.aspx.cs" Inherits="WebAmericaRegionalMyE.Pat_CRP_Individual_LS3_GU" %>

<%@ Register assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server">
        </dx:ASPxDocumentViewer>
    
    </div>
    </form>
</body>
</html>
