﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="prueba.aspx.cs" Inherits="WebAmericaRegionalMyE.prueba" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
        <script src="../node_modules/datamaps/dist/datamaps.all.js"></script>
        <script src="../src/datamaps-zoomto.js"></script>
    </head>
    <body>
        <style>
            #map {
                position: relative;
                margin: 0 auto;
                width: 800px;
                height: 450px;
            }
        </style>
        <div id="map"></div>
        <button onclick="zoomToCenter();" id="zoomToCenter">Zoom To Center</button>
        <button onclick="zoomIn();" id="zoomIn">Zoom In</button>
        <button onclick="zoomOut();" id="zoomOut">Zoom Out</button>
        <script>
            var dm = new Datamap({
                // scope: 'usa',
                element: document.getElementById('map')
            });
            var zoomInOpts = {
                scaleFactor: 2,
                center: {
                    lat: 45,
                    lng: -90
                },
                transition: {
                    duration: 1000
                }
            };
            var zoomOutOpts = {
                scaleFactor: 0.5,
                center: {
                    lat: 40,
                    lng: -90
                },
                transition: {
                    duration: 1000
                }
            };
            function zoomToCenter() {
                dm.zoomto({
                    scaleFactor: 2,
                    transition: {
                        duration: 1000
                    }
                });
            }
            function zoomIn() {
                dm.zoomto(zoomInOpts);
            }
            function zoomOut() {
                dm.zoomto(zoomOutOpts);
            }
        </script>
    </body>
</html>
</asp:Content>
