﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegionalDasboad001.aspx.cs" Inherits="WebAmericaRegionalMyE.RegionalDasboad001" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZjJjNTNhM2ItODQ2My00ODA3LWJmNzktNDhlOTAxM2ZjYWY0IiwidCI6IjllYmFhNmQ2LTY0NGItNDQ4ZS04YjZhLTc4MjQ0MWIxODQ2ZiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    </form>
</body>
</html>
