﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Rep_Pla_Socia_Pdt.aspx.cs" Inherits="WebAmericaRegionalMyE.Rep_Pla_Socia_Pdt" %>
<%@ Register assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <form id="form1" runat="server">
        <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server" Height="640px" Width="1766px">
        </dx:ASPxDocumentViewer>
    </form>
</asp:Content>
