﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="rep_cvs_GUATEMALA_LS2.aspx.cs" Inherits="WebAmericaRegionalMyE.rep_cvs_GUATEMALA_LS2" %>

<%@ Register assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    
        <dx:ASPxDocumentViewer ID="ASPxDocumentViewer1" runat="server">
        </dx:ASPxDocumentViewer>
    
    <div>
    
    </div>
    </form>
</body>
</html>
